@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/* .dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
} */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* محتاجة كتابة  */
html, body{
  margin: 0;
  padding:0;
  overflow-x: hidden;  
}
* {
  box-sizing: border-box;
  
}
/* محتاجة كتابة  */
.container, .container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* محتاجة كتابة  */
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}


.first-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EDF1FF !important;
  width: 100%;
  padding:5px;
}

 .one{
  padding: 3px;
  margin-right: 6px;
  color: var(--foreground );
  font-weight: bold;
  cursor: pointer;
  
}

.one .link{
  text-decoration: none !important;
  color: var( --sidebar-primary) !important
}

.one span{
   margin: 6px;
}

 .link:hover{
  border-bottom: 2px solid var(--foreground );
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.icons .social:hover{
  color: var(--ring);
}

nav {
  display: flex;
  flex-wrap: nowrap;
  align-items:center;
  justify-content: space-between;
  margin-top: 7px;
}

.title{
  height: fit-content;
  margin-top: 14px;
}
.title h1{
   font-size: 40px;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer
}

.title h1 span{
   border: 2px solid var( --sidebar-border);
  color: #D19C97;
  box-shadow: inset 0px 0px 1px 0px #DDD;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px;
  margin: 10px
}

.search{
  display: flex
} 

.search input{
  width: 300px;
  border: 1px solid var(--sidebar-accent-foreground);

}

.search input:hover{
  border: none
}
.search .search-icon{
    margin-top: -3px;
    cursor: pointer;
    font-size: 25px;
    border: 1px solid var(--sidebar-accent-foreground);
    display: inline-block;
    color: #D19C97;
}

.search .search-icon:hover{
  border: none;
}

input::placeholder{
  padding-left: 5px !important;
  margin-left: 5px !important;
}

.shop-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px
}

.right-icon{
  color: #D19C97;
    font-size: 22px;
    margin-right: 13px;
    cursor: pointer;
}
/* small screen */
@media (max-width: 768px) {
  .first-header {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 100%; 
    padding: 5px;
  }

  .search input {
    width: 100%;     
    max-width: 280px;  
  }

  .title h1 {
    font-size: 28px;  
  }

  nav {
    flex-direction: column; 
    gap: 10px;
  }
}

/* meduim screen */
@media (min-width: 992px){

}

.show .dropdown-content {
  display: block !important;
}

.main-btn{
  width: 100% !important;
  background-color: rgb(209, 156, 151) !important;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

.main-btn:focus{
  border: none !important; 
}
.dropdown-item{
  background-color: transparent !important;
  font-weight: bold !important;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  width: 100%;
}
.dropdown-item:focus {
  background-color: rgb(209, 156, 151) !important;
}

.first-section {
  flex: 0 0 400px; 
  max-width: 400px;
}

@media (max-width: 768px) {
.main-btn{
  padding: 10px;
  margin: 0 auto;
}
.first-section{
   flex: 0 0 100%; 
    max-width: 100%;
}
}

ul{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-foreground) !important;
  font-weight: bold;
  cursor: pointer;
  
}

ul li{
  padding: 10px;
  margin: 5px
}

.first-list{
  display: flex;
  justify-content: space-between;
}
ul .icon:hover{
  color: rgb(209, 156, 151) !important;
  text-decoration: underline;
}
ul .pages{
 font-weight: bold !important;
  
}

.second-icon{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  margin-left:10px
}

.second-icon ul .icon{
  margin: 10px;
  padding: 10px
}

.slider-wrapper{
  width: 100% ;
  height: 300px;
}

.slide-img-wrapper{
  width: 100%;
  height: 500px;
  position: relative
}

.slide-img{
  object-fit: cover;
  margin: 0 auto;
  padding: 0
}

.shop-btn{
  width: 90px;
  height: 40px;
  background-color: var( --sidebar-border) ;
  color: var( --sidebar-foreground) ;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-family: bold;
  transition: all 3.s;
  -webkit-transition: all 3.s;
  -moz-transition: all 3.s;
  -ms-transition: all 3.s;
  -o-transition: all 3.s;
}

.shop-btn:hover{
 background-color: var(--sidebar-ring);
}

@media (max-width: 768px){
  .first-list ul {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important
  }

  .first-list ul li{
    width: 100%
  }
  .second-icon{
    display: flex;
    flex-direction: column;
    margin: 0 auto
  }

  .pages {
  max-width: 100%;
  overflow: hidden;
}
.slide-img{
  width: 200px
}
}
/* Show bar */
.show-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 16px
}

.show-bar .show-details{
  border: 2px solid var(--ring);
  width: 300px;
  height: 70px;    
  margin-top: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px; 
}

.show-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin: 8;
}
.show-details .show-icon{
    font-size: 36px;
    color: rgb(209, 156, 151);
    font-weight: bold;
    margin: 5px
}
.show-details h4{
  margin-left: 25px;
  font-size: 18px;
  font-weight: bold;
}

.main-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  padding: 5px;
  margin: 0 auto;
  justify-content: center;
}

.cata-box{
   flex: 0 0 calc(33.33% - 10px);
   align-items: center;
    border: 2px solid var(--ring);
    border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px; 
  width: 450px
}

.img-box{
    height: 400px;
    transition: 0.3s all;
}

.inside{
  overflow: hidden
}
.inside .img-box{
transition: transform 0.3s ease;
}
 .inside .img-box:hover{
  transform: scale(2, 2) 
}

.title-box, .data-box{
  font-weight: bold;
  padding: 3px;
  margin: 3px
}

.title-box{
  text-align:right;
}

.data-box{
  text-align: left
}

.offer-container{
  display : flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px
}

.offer-card{
  width: 60%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  background-color: #EDF1FF;
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
}

.offer-content{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.offer-img{
  height: 200px;
}
.offer-content h2{
  color: oklch(0.141 0.005 285.823);
  font-size: 29px;
  font-weight: bold;
}

.offer-content p, .offer-content button{
  color: rgb(209, 156, 151) !important;
  font-weight: bold;
  font-size: 25px;
}

.offer-content button{
  background-color: transparent;
  border: 2px solid rgb(209, 156, 151) !important;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
}

.offer-content button:hover{
  background-color:rgb(209, 156, 151) !important; 
  color: oklch(0.141 0.005 285.823) !important
}

@media (max-width: 768px) {
  .offer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .offer-card{
    width: 100%;
    max-width: 450px;
  }
  .offer-img{
    width: 150px;
    margin-right: 7px;
  }
}





.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

